@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.min.css';

:root {
  --neutral-900: #0f1221;
  --purple: #5e3bee;
  --neutral-100: #f9f9fc;
  --neutral-500: #656b8e;
  --purple-dark: #4322ca;
  --neutral-400: #989dbb;
  --neutral-800: #1e2238;
  --purple-lighter: rgba(94, 58, 238, .08);
  --neutral-300: #e0e2ef;
  --green: #3ae8b4;
  --orange-lighter: rgba(255, 168, 66, .08);
  --neutral-600: #3c4263;
  --green-dark: #19c792;
  --orange-light: #ffca8c;
  --green-light: #85fbd7;
  --green-lighter: rgba(58, 232, 179, .08);
  --orange-dark: #db8117;
  --green-darker: #0a9b6f;
  --orange: #ffa842;
  --purple-darker: #2b0e9f;
  --orange-darker: #b46508;
  --purple-light: #a691fb;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1600px;
  }
}

.navbar-nav .nav-link.active {
  color: var(--purple);
  font-weight: 500;
}

.text-purple {
  color: var(--purple);
}

.bg-purple {
  background-color: var(--purple);
}

.link-purple {
  color: var(--purple);
}

.link-purple:hover {
  color: var(--purple-dark);
}

.btn-purple {
  background-color: var(--purple);
  color: #fff;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.btn-purple:hover {
  background-color: var(--purple-dark);
  color: #fff;
}

.btn-purple:active {
  background-color: var(--purple);
}

.jn-card {
  box-shadow: 0 0 10pt #0000001c;
  height: 100%;
  border: 1px solid #ffffff2e;
}
.jn-badge {
  width: fit-content;
  padding: 0.5rem 1rem;
  position: relative;
  left: 28pt;
  top: 18pt;
}
.jn-card-text {
  font-weight: 300;
}
.jn-left-panel {
  padding-left: 28pt;
}
.jn-right-panel {
  padding-left: 28pt;
  padding-right: 28pt;
}
.jn-icon {
  font-size: 3rem;
  color: var(--bs-dark);
  position: relative;
}

.jn-icon::after {
  content: '';
  position: absolute;
  left: -10px;
  bottom: 10px;
  width: 30px;
  height: 30px;
  background-color: rgba(58, 232, 180, 0.5);
  border-radius: 50%;
}